	<div id="headerwrap">
	    <div class="container">
			<div class="row centered">
				<div class="col-lg-6 col-xs-6 col-md-6 col-md-offet-3 col-xs-offset-3 col-lg-offset-3" style="color: black">
					<%= image_tag 'profile-images.jpg', :class => "img-circle", :width => "120px", :height => "120px" %>
					<h4>HELLO, MY NAME IS</h4>
					<h2>PHAN QUAN</h2>
					<h4>WEB DEVELOPER & PHOTOGRAPHER</h4>
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->

	</div><! --/headerwrap -->
	<div class="glyphicon glyphicon-menu-down centered col-md-12 col-xs-12 col-lg-12 col-sm-12" style="margin-top: 25px;"></div>
	<div class="glyphicon glyphicon-menu-down centered col-md-12 col-xs-12 col-lg-12 col-sm-12" style="margin-top: -19px;"></div>
	<section id="works"></section>

	<div class="container">
		<div class="row centered mt mb">
			<h2 style="box-shadow: 0px 1px 2px #999999; padding-bottom: 5px;">My Portfolio</h2>
			
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><%= image_tag 'portfolio/folio01.png' , :class => "img-responsive" %></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><%= image_tag 'portfolio/folio02.jpg' , :class => "img-responsive" %></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><%= image_tag 'portfolio/no-show.jpg' , :class => "img-responsive" %></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><%= image_tag 'portfolio/no-show.jpg' , :class => "img-responsive" %></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><%= image_tag 'portfolio/no-show.jpg' , :class => "img-responsive" %></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><%= image_tag 'portfolio/no-show.jpg' , :class => "img-responsive" %></a>
			</div>
		</div><! --/row -->
	</div><! --/container -->